body{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.header, .footer{
    flex: 1;
    max-height: 50px;
    background-color: #F5EDF0;
}

#calculatorBox{
    width: 400px;
    margin: auto;
    margin-bottom: auto;
}

#digitBox{
    display: flex;
    flex-direction: column;
    height: 250px;
}

.row{
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.numbers.zero{
    flex-grow: 2.14;
}

.flexPanel{
    flex: 1;
    padding: 2px;
    margin: 2px;
    border: none;
    background-color: rgb(245, 237, 240);
    border-radius: 5px;  
}

.flexPanel:hover{
    background-color: rgba(245, 237, 240, 0.384);
}

.flexPanel:active{
    color: red
}

.flexPanel.equal{
    background-color: #3a62b9;
    color: white;
}

#resultDisplay{
    height: 50px;
    border: 1px rgba(0, 0, 0, 0.247) solid;
    border-top: none;
    padding: 5px;
    padding-right: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;
    font-size: 20px;
}


#waitingOperation{
    height: 20px;
    font-size: 10px;
    padding: 5px;
    padding-right: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px rgba(0, 0, 0, 0.26) solid;
    border-bottom: none;
}


